*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 3px solid black;
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.start{ 
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 80px;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.count {
    width: 200px;
    font-size:20px;
    background-color: rgb(244, 242, 242);
    margin-left: 5px;
}

.username {
    position: absolute;
    width: 250px;
    font-size: 25px;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

.playerResponse {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.btn{
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 5px rgb(10, 10, 10);
    cursor: pointer;
    border: none;
}

.btn.start {
    border-radius: 50%;
    padding: 80px;
    font-size: 30px;
}

#iPop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#infoimg {
    position: relative;
    width: 100%;
    z-index: -1;
}

#infobtn{
    font-size: 20px;
    margin-right: 40px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 50%;
    align-self: flex-end;
    box-shadow: none;
}

.btn.d {
    padding: 10px;
    align-self: center;
}


#close {
    position: absolute;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
}

#hit:hover, #stand:hover, #infobtn:hover, #decision:hover{
    box-shadow: 0 12px 16px 0 white, 0 17px 50px 0 #cdcbcf; 
    padding: 20px;
}



